.form-inline{
    margin-top: 7px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border: none;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    background: linear-gradient(#660066,#ffb3ff);
    color: white;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.btn_btn-success{
    margin-right: 0;
    float: right;
}

.colorchill {
    background: linear-gradient(#ffb3ff, #660066);
}
.sell_amount{
    width: 60px;
    margin-right: 5px;
}
.img-responsive{
    height: 190px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
footer{
    background:#101010;
    color: white;
    height: 50px;
}

h4{
    color: black;
}

h6{
    color: black;
}

/*.btn_btn-success{
    margin-right: 0;
    float: right;
}*/

